/* http://superherojs.com/ 
Fajnie zrobione zmniejszanie się ekranu i rzeczy na nim. 

https://www.user.com/en

*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgba(27, 23, 26);
}

@font-face {
    font-family: myFontJreeng;
    src: url(/fonts/Jreeng.ttf);
}

@font-face {
    font-family: myFontYikes;
    src: url(/fonts/YIKES!__.TTF);
}


/* NAVIGATION MENU */

.navMenu {
    height: 10vh;
    position: absolute;
    left: 50%;
    right: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navMenuList {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 80px;
}

.navMenuList li {
    list-style-type: none;
    display: block;
    width: 190px;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-content: center;
    padding: 5px;
    margin: 10px;
}

.navMenuList a {
    font-family: myFontJreeng;
    color: coral;
    text-decoration: none;
    font-size: 30px;
    display: block;
    text-align: center;
}

.navMenuList a:hover {
    color: rgb(123, 63, 42);
    text-decoration: underline;
}


/* MAIN PAGE */

.mainPage {
    background-image: url(/images/temporaryBackground_v1.2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 90vh;
    background-attachment: scroll;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.mainPageBottomInfo {
    background-color: rgba(255, 255, 255, 0.121);
    inline-size: 500px;
    padding: 10px;
    margin-bottom: 20px;


    /* position: absolute;
    bottom: 10px;
    margin-left: 50%;
    margin-right: 50%; */

}

.mainPageBottomInfo p {
    color: coral;
    text-align: center;
    justify-content: center;
}

.mainPageBottomInfo>p {
    display: inline-block;
}

.mainPageBottomInfo>hr {
    display: inline-block;
    width: 130px;
    margin-left: 10px;
    margin-right: 10px;
}

/* ABOUT ME */



.aboutMe {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#aboutMeTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff7f50;
}

#aboutMeTitle h1 {
    background-color: red;
    font-size: 30px;
    color: white;
}

.aboutMeSection {
    background-color: coral;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 100px;
    padding-bottom: 134px;
}

.aboutMePicture {
    background-color: aqua;
    display: inline-block;
}

.aboutMePicture img {
    height: 600px;

}

.aboutMeInfo {
    background-color: rgb(255, 255, 255, 0.1);
    inline-size: 800px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 20px;
    color: white;
    border-radius: 10px;
}

.aboutMeInfo h2,
.aboutMeInfo p {
    font-family: myFontJreeng;
}

.aboutMeInfo button {
    font-family: myFontYikes;
    padding: 15px;
    background-color: rgba(27, 23, 26);
    border: 2px solid coral;
    color: white;
}

.aboutMeInfo button:hover {
    background-color: rgba(27, 23, 26, 0.5);
    font-size: medium;
}

#shapeDividerTop {
    background-color: coral;
    margin-top: 150px;
}

#shapeDividerBottom {
    background-color: #1b171a;
}


/* MY PORJECTS */

#myProjects {
    background-color: rgba(27, 23, 26);
    height: 100vh;
}

#myProjectsTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin-top: 10vh;
}

#myProjectsTitle h2 {
    background-color: red;
    font-size: 30px;
    color: white;
}

#myProjectsSection img {
    height: 400px;
}

#myProjectsGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 80vh;
    align-items: center;
    justify-items: center;
    align-content: space-evenly;
    padding-right: 150px;
    padding-left: 150px;
}

.myProjectsGridContent {
    background-color: rgba(27, 23, 26, 0.5);
    display: flex;
    flex-direction: column;
}

.myProjectsGridContent a {
    text-align: center;
    margin: 20px;
    text-decoration: none;
    color: coral;
}

.myProjectsGridContent a:hover {
    color: white;
}

/* CONTACT FORM */

#contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ff7f50;
}

#contactForm>svg {
    background-color: #1b171a;
}

#contactTitle {
    margin-top: 50px;
}

#contactTitle h2 {
    background-color: red;
    font-size: 30px;
    color: white;
}


#contactFormSection {
    margin-top: 50px;

}

#contactFormBox {
    height: 400px;
    width: 60vw;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 20px;
    background-color: #1b171a;
    border-radius: 20px;
}

#contactFormBox>h2 {
    color: coral;
}

#contactFormData {
    display: flex;
    width: 780px;
    flex-wrap: wrap;
    gap: 20px;

}

#contactFormData input {
    inline-size: 380px;
    height: 40px;
    border: none;
    border-bottom: 2px solid silver;
    background-color: transparent;
    color: coral;
    border-radius: 10px;
    padding-left: 10px;
}

#contactFormData input::placeholder {
    color: rgba(255, 127, 80, 0.5);
}

#contactFormData input:focus {
    outline: none;

}

#formMessageText {
    width: 780px;
    resize: none;
    border-color: silver;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
    background-color: transparent;
    color: coral;
}

#formMessageText::placeholder {
    color: rgba(255, 127, 80, 0.5);
}

#formMessageText:focus {
    outline: none;
}

#contactFormData input:nth-last-child(1) {
    width: 200px;
    border: 2px solid silver;
    background-color: rgba(255, 127, 80, 1);
    color: black;
}

#contactFormData input:nth-last-child(1):hover {
    width: 200px;
    border: 2px solid silver;
    background-color: rgba(255, 127, 80, 0.5);
    color: black;
}


/* FOOTER */

footer {
    background-color: #1b171a;
    height: 100px;
    color: coral;
}

footer hr {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

#footerContact {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

#line {
    border: 1px solid;
}

#footerContact p {
    display: flex;
}

#copyrightInfo {
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
}