/* http://superherojs.com/ 
Fajnie zrobione zmniejszanie się ekranu i rzeczy na nim. 

https://www.user.com/en

*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: myFontJreeng;
    src: url(/fonts/Jreeng.ttf);
}

@font-face {
    font-family: myFontYikes;
    src: url(/fonts/YIKES!__.TTF);
}

body {
    background-image: url(/images/temporaryBackground_v1.1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 100%;
    background-attachment: fixed;
}

.navMenu {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(27, 23, 26);
}

.navMenuList {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 80px;

}

.navMenuList li {
    list-style-type: none;
    padding: 5px;
    margin: 10px;

}

.navMenuList a {
    font-family: myFontJreeng;
    color: coral;
    text-decoration: none;
    font-size: 20px;

}

.navMenuList a:hover {
    color: rgb(123, 63, 42);
    text-decoration: underline;
}





.aboutMeSection {
    height: 200px;
    background-color: coral;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutMePicture{
    background-color: aqua;
    

}

.aboutMePicture img{
    height: 300px;

}



.aboutMeInfo {
    background-color: blue;
    height: 400px;
}
