/* http://superherojs.com/ 
Fajnie zrobione zmniejszanie się ekranu i rzeczy na nim. */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(/images/temporaryBackground_v1.1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 100%;
    background-attachment: fixed;
}

nav {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 20px;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 80px;

}

ul li {
    list-style-type: none;
    padding: 5px;
    margin: 10px;

}

a {
    color: coral;
    text-decoration: none;
}

a:hover {
    color: rgb(123, 63, 42);
    text-decoration: underline;
}