/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

$myOrange: rgb(206, 93, 30);
$myLightOrangeBackground: rgba(245, 179, 135, 0.281);
$myBrown: rgb(28, 20, 27);

@font-face {
  font-family: myFontShort;
  src: url(/fonts/ShortStack-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #4a98f7 !important;
}
.navbar {
  background-color: $myBrown;
  color: $myOrange;
  a {
    color: $myOrange;
  }
  .nav-item {
    justify-content: center;
    text-align: center;
    color: $myOrange;
    font-family: myFontShort;
    font-size: 16px;
    .nav-link {
      color: $myOrange;
    }
  }
  img {
    height: 20px;
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 130, 48, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
}

.container {
  display: flex;
  width: 100%;
  gap: 10px;
  padding: 10px;
  max-width: 1050px;
}
section {
  background: #fff;
  border-radius: 7px;
}
.tools-board {
  width: 210px;
  padding: 15px 22px 0;
  .row {
    margin-bottom: 20px;
    .options {
      list-style: none;
      margin: 10px 0 0 5px;
      .option {
        display: flex;
        cursor: pointer;
        align-items: center;
        margin-bottom: 10px;
      }
    }
  }
}
.option:is(:hover, .active) img {
  filter: invert(17%) sepia(90%) saturate(3000%) hue-rotate(900deg)
    brightness(100%) contrast(100%);
}
.option :where(span, label) {
  color: #5a6168;
  cursor: pointer;
  padding-left: 10px;
}
.option:is(:hover, .active) :where(span, label) {
  color: #4a98f7;
}
.option #fill-color {
  cursor: pointer;
  height: 14px;
  width: 14px;
}
#fill-color:checked ~ label {
  color: #4a98f7;
}
.option #size-slider {
  width: 100%;
  height: 5px;
  margin-top: 10px;
}
.colors .options {
  display: flex;
  justify-content: space-between;
}
.colors .option {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-top: 3px;
  position: relative;
}
.colors .option:nth-child(1) {
  background-color: #fff;
  border: 1px solid #bfbfbf;
}
.colors .option:nth-child(2) {
  background-color: #000;
}
.colors .option:nth-child(3) {
  background-color: #e02020;
}
.colors .option:nth-child(4) {
  background-color: #6dd400;
}
.colors .option:nth-child(5) {
  background-color: #4a98f7;
}
.colors .option.selected::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  height: 12px;
  width: 12px;
  background: inherit;
  border-radius: inherit;
  border: 2px solid #fff;
  transform: translate(-50%, -50%);
}
.colors .option:first-child.selected::before {
  border-color: #ccc;
}
.option #color-picker {
  opacity: 0;
  cursor: pointer;
}
.buttons {
  button {
    width: 100%;
    color: red;

    outline: none;
    padding: 11px 0;
    font-size: 0.9rem;
    margin-bottom: 13px;
    background: none;
    border-radius: 4px;
    cursor: pointer;
    // .clear-canvas {
    //   color: #6c757d red;
    //   border: 1px solid red;
    //   transition: all 0.3s ease;
    // }
    // .clear-canvas:hover {
    //   color: #fff;
    //   background: green;
    // }
    // .save-img {
    //   background: #4a98f7;
    //   border: 1px solid #4a98f7;
    // }
  }
}
.drawing-board {
  flex: 1;
  overflow: hidden;
  canvas {
    width: 100%;
    height: 100%;
  }
}
