$myOrange: rgb(206, 93, 30);
$myLightOrangeBackground: rgba(245, 179, 135, 0.281);
$myBrown: rgb(28, 20, 27);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $myBrown !important;
  padding-top: 100px;
}

@font-face {
  font-family: myFontJreeng;
  src: url(/fonts/Jreeng.ttf);
}
@font-face {
  font-family: myFontShort;
  src: url(/fonts/ShortStack-Regular.ttf);
}

.navbar {
  background-color: $myBrown;
  color: $myOrange;
  a {
    color: $myOrange;
  }
  .nav-item {
    justify-content: center;
    text-align: center;
    color: $myOrange;
    font-family: myFontShort;
    font-size: 16px;
    .nav-link {
      color: $myOrange;
    }
  }
  img {
    height: 20px;
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 130, 48, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
}

.row {
  padding-bottom: 50px;
}
#projectsGrid {
  height: 500px;
  background-color: $myBrown;
}

.webStyle {
  background-color: $myLightOrangeBackground;
  height: 400px;
  justify-content: center;
  padding: 20px;
  border-radius: 15px;
}
.grayTop {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 20px;
  background-color: gray;
  .colorButtons {
  }
}
.whiteBckgr {
  height: 180px;
  background-color: $myBrown;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  text-align: center;
  img {
    height: 180px;

    // max-height: auto;
    // background-size: cover;
  }
}

.projectDescription {
  padding: 20px 0px;
  color: $myOrange;
  h2{
    font-family: myFontJreeng;
    font-size: 24px;
    margin: 0;
    padding-bottom: 10px;
  }
  p{
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 16px;
  }
}
@media (max-width: 992px){
    .row{
        margin: 0;
    }
    .webStyle {
        margin-bottom: 50px;
}}
//     .projectImg{

//         img{
//         height: 300px;
//     }}
// }




//Mac OS X Traffic Lights
$close-red:                     #ff6159;
$close-red-active:              #bf4942;
$close-red-icon:                #4d0000;
$close-red-icon-active:         #190000;

$minimize-yellow:               #ffbd2e;
$minimize-yellow-active:        #bf8e22;
$minimize-yellow-icon:          #995700;
$minimize-yellow-icon-active:   #592800;

$maximize-green:                #28c941;
$maximize-green-active:         #1d9730;
$maximize-green-icon:           #006500;
$maximize-green-icon-active:    #003200;

$disabled-gray:                 #ddd;

.traffic-lights {
    // position: absolute;
    top: 1px;
    left: 8px;

    .focus &, &:hover, &:active {
        > .traffic-light-close {
            background-color: $close-red;

            &:active:hover {
                background-color: $close-red-active;
            }
        }
        > .traffic-light-minimize {
            background-color: $minimize-yellow;

            &:active:hover {
                background-color: $minimize-yellow-active;
            }
        }
        > .traffic-light-maximize {
            background-color: $maximize-green;

            &:active:hover {
                background-color: $maximize-green-active;
            }
        }
    }

    > .traffic-light {
        &:before, &:after {
            visibility: hidden;
        }
    }

    &:hover, &:active {
        > .traffic-light {
            &:before, &:after {
                visibility: visible;
            }
        }
    }
}

.traffic-light {
    border-radius: 100%;
    padding: 0;
    height: 12px;
    width: 12px;
    border: 1px solid rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    margin-right: 3.5px;
    background-color: $disabled-gray;
    position: relative;
    outline: none;

    &:before, &:after {
        content: '';
        position: absolute;
        border-radius: 1px;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }

    &-close {
        &:before, &:after {
            background-color: $close-red-icon;
            width: 8px;
            height: 1px;
        }
        &:before {
            transform: rotate(45deg);// translate(-0.5px, -0.5px);
        }
        &:after {
            transform: rotate(-45deg);// translate(0.5px, -0.5px);
        }
        &:active:hover:before, &:active:hover:after {
            background-color: $close-red-icon-active;
        }
    }

    &-minimize {
        &:before {
            background-color: $minimize-yellow-icon;
            width: 8px;
            height: 1px;
            //transform: translateY(-0.5px);
        }
        &:active:hover:before {
            background-color: $minimize-yellow-icon-active;
        }
    }

    &-maximize {
        &:before {
            background-color: $maximize-green-icon;
            width: 6px;
            height: 6px;
        }
        &:after {
            background-color: $maximize-green;
            width: 10px;
            height: 2px;
            transform: rotate(45deg);
        }
        &:active:hover:before {
            background-color: $maximize-green-icon-active;
        }
        &:active:hover:after {
            background-color: $maximize-green-active;
        }
    }
}