$myOrange: rgb(206, 93, 30);
$myLightOrangeBackground: rgba(245, 179, 135, 0.281);
$myBrown: rgb(28, 20, 27);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;

}

body {
  background-color: $myBrown;
}

@font-face {
  font-family: myFontJreeng;
  src: url(/fonts/Jreeng.ttf);
}

@font-face {
  font-family: myFontYikes;
  src: url(/fonts/YIKES!__.TTF);
}

@font-face {
  font-family: myFontTakeLooks;
  src: url(/fonts/takeLooks.ttf);
}

/* Main Page with Navigation Menu */

.navbar {
  background-color: $myBrown;
  color: $myOrange;
  a {
    color: $myOrange;
  }
  .nav-item {
    justify-content: center;
    text-align: center;
    color: $myOrange;
    font-family: myFontJreeng;
    font-size: 24px;
    .nav-link {
      color: $myOrange;
    }
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 130, 48, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
}

.fullBckgr{
  background-image: url(/images/temporaryBackground_v1.2.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  height: 100vh;
  background-color: $myBrown;
}

/* ABOUT ME */

#aboutMeDeviderTop {
  width: 100%;
  svg {
    position: relative;
    width: calc(100% + 1.3px);
    height: 100px;
    background-color: $myOrange;
  }
  .shape-fill {
    fill: $myBrown;
  }
}

#aboutMe {
  height: 700px;
  background-color: $myOrange;
  display: flex;
  justify-content: center;
  .aboutMeSection {
    display: flex;
    justify-content: center;
    .aboutMePicture {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        height: 500px;
        border-radius: 30px;
      }
    }
    .aboutMeInfo {
      display: flex;
      align-items: center;
      justify-content: center;
      .aboutMeInfoBckgr {
        background-color: $myLightOrangeBackground;
        padding: 40px 20px;
        font-size: 24px;
        color: $myBrown;
        border-radius: 30px;
      }
      h1 {
        font-family: myFontJreeng;
        font-size: 34px;
        margin: 0;
        padding-bottom: 10px;
      }
      p {
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
          sans-serif;
        font-size: 20px;
        text-align: justify;
        padding: 10px 0px;
        margin: 0;
      }
      #button1 {
        margin-top: 10px;
      }
    }
  }
}

#aboutMeDeviderBot {
  width: 100%;
  svg {
    width: calc(100% + 1.3px);
    height: 100px;
    background-color: $myBrown;
  }
  .shape-fill {
    fill: $myOrange;
  }
}
/* MY PORJECTS */

.myProjectsTitle {
  background-color: $myBrown;
  color: $myOrange;
  font-family: myFontJreeng;
  text-align: center;
  font-size: 50px;
}

#myProjects {
  height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $myBrown;
  .smallNav {
    background-color: $myOrange;
  }
  .card {
    background-color: $myOrange;
  }
  input:focus {
    outline: none !important;
  }
  .imageFirst {
    background-image: url(/images/temporaryLogo.png);
    background-size: cover;
  }
  .imageSecond {
    background-image: url(/images/temporaryLogo.png);
    background-size: cover;
  }

  @keyframes float {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-20px);
    }
    100% {
      transform: translatey(0px);
    }
  }
}

/* CONTACT FORM */

.contactFormDeviderTop {
  width: 100%;
  svg {
    width: calc(100% + 1.3px);
    height: 100px;
    background-color: $myOrange;
  }
  .shape-fill {
    fill: $myBrown;
  }
}

.contactForm {
  height: 500px;
  background-color: $myOrange;
  display: flex;
  justify-content: center;
  align-items: center;
  .formLeftText {
    font-size: 40px;
    font-family: myFontJreeng;
    text-transform: uppercase;
    padding-bottom: 20px;
    letter-spacing: 10px;
    line-height: 125%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #contactFormBox {
    border-radius: 20px;
    background-color: $myLightOrangeBackground;
    padding: 0px 40px;
    input {
      width: 49%;
      margin: 30px 0px 0 0;
      border: none;
      border-bottom: 2px solid $myBrown;
      background-color: transparent;
      color: $myBrown;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      font-size: 20px;
    }
    input::-moz-placeholder {
      color: $myBrown;
    }
    input::placeholder {
      color: $myBrown;
    }
    input:focus {
      outline: none;
    }
    #formMessageText {
      width: 99%;
      resize: none;
      border: none;
      border-bottom: 2px solid $myBrown;
      background-color: transparent;
      color: $myBrown;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      font-size: 20px;
      margin: 30px 20px 0 0;
      &::-moz-placeholder {
        color: $myBrown;
      }
      &::placeholder {
        color: $myBrown;
      }
      &:focus {
        outline: none;
      }
    }
    #contactFormSubmit {
      margin-top: 30px;
    }
    #margin30 {
      height: 30px;
    }
  }
}

.contactFormDeviderBot {
  width: 100%;
  svg {
    width: calc(100% + 1.3px);
    height: 100px;
    background-color: $myBrown;
  }
  .shape-fill {
    fill: $myOrange;
  }
}

/* FOOTER */

footer {
  background-color: $myBrown;
  color: $myOrange;
  #footerContact {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
  }
  #footerDevider {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
  }
  #copyrightInfo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* IMPORTANT */

.superButtons {
  font-family: myFontYikes;
  width: fit-content;
  background-color: #fbeee0;
  border: 4px solid #422800;
  border-radius: 30px;
  box-shadow: $myBrown 4px 4px 0 0;
  color: $myBrown;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  touch-action: manipulation;
  &:hover {
    background-color: $myBrown;
    color: $myOrange;
  }
  &:active {
    box-shadow: $myOrange 2px 2px 0 0;
    transform: translate(2px, 2px);
  }
}

@media (max-width: 1199px) {
  #aboutMe {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1100px;
    img {
      margin-bottom: 30px;
      height: 600px !important;
    }
  }
  #contactForm {
    .formLeftText {
      font-size: 30px;
    }
  }
}

@media (max-width: 998px) {
  // .mainPage {
  //   background-size: contain;
  // }
  #aboutMe {
    img {
      height: 500px !important;
    }
  }
  #myProjects {
    .imgHero {
      height: 100%;
      justify-content: center;
    }
    .card {
      width: 100% !important;
    }
  }
  .contactForm {
    height: 500px;
    .deleteBr {
      display: none;
    }
    .formLeftText {
      font-size: 20px;
      padding: 0;
      line-height: 150%;
      letter-spacing: 5px;
      text-align: center;
    }
    #contactFormBox {
      input {
        font-size: 16px;
      }
      textarea {
        font-size: 16px !important;
      }
    }
  }
}

@media (max-width: 767.98px) {
  #aboutMe {
    height: 800px;
    img{
      height: 300px !important;
    }
    h1 {
      font-size: 20px !important;
    }
    p{
      font-size: 16px !important;
    }
  }
  #myProjects{
    .myProjectsTitle{
      font-size: 30px;
    }
  }
  .imgHero {
    transform: translateX(0%) !important;
    transform: translateY(-28%) !important;
    height: 35%;
  }
  .card {
    width: 100% !important;
  }
  #contactForm {
    height: 600px;
    .formLeftText {
      font-size: 18px !important;
    }
    #contactFormBox {
      input {
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 657px) {
  // .mainPage {
  //   height: 65vh;
  // }
  #myProjects {
    height: 900px;
  }
  #contactForm .formLeftText {
    font-size: 16px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    letter-spacing: 10px;
    line-height: 125%;
  }
  #contactForm #contactFormBox input {
    font-size: 16px;
    width: 100%;
  }
}

@media (max-width: 575.98px) {
  .imgHero {
    transform: translateX(0%) !important;
    transform: translateY(-28%) !important;
    height: 100%;
    // padding-right: 20px;
    // padding-left: 20px;
  }
  .card {
    width: 100% !important;
    height: 60% !important;
  }
  .buttonCard {
    padding-left: 4%;
    padding-right: 4%;
  }
  // .imgSec {
  //     height: 100% !important;
  // }
  .imageFirst {
    width: 100%;
  }
}

@media (max-width: 520px) 
