* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #1c141b !important;
}

@font-face {
  font-family: myFontJreeng;
  src: url(/fonts/Jreeng.ttf);
}
@font-face {
  font-family: myFontYikes;
  src: url(/fonts/YIKES!__.TTF);
}
@font-face {
  font-family: myFontShort;
  src: url(/fonts/ShortStack-Regular.ttf);
}
.animate__animated.animate__backInLeft {
  --animate-duration: 4s;
}

.animate__animated.animate__bounceInLeft {
  --animate-duration: 3s;
}

/* Main Page with Navigation Menu */
.navbar {
  background-color: #1c141b;
  color: rgb(206, 93, 30);
}
.navbar a {
  color: rgb(206, 93, 30);
}
.navbar .nav-item {
  justify-content: center;
  text-align: center;
  color: rgb(206, 93, 30);
  font-family: myFontShort;
  font-size: 16px;
  padding: 0px 10px;
}
.navbar .nav-item .nav-link {
  color: rgb(206, 93, 30);
}
.navbar img {
  height: 20px;
}
.navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 130, 48, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.fullBckgr {
  background-image: url(/images/lmd_main_background.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  height: 100vh;
  background-color: #1c141b;
}

/* ABOUT ME */
#aboutMeDeviderTop {
  width: 100%;
}
#aboutMeDeviderTop svg {
  position: relative;
  width: 100%;
  height: 100px;
  background-color: rgb(206, 93, 30);
}
#aboutMeDeviderTop .shape-fill {
  fill: #1c141b;
}

#aboutMe {
  height: 500px;
  background-color: rgb(206, 93, 30);
  display: flex;
  justify-content: center;
}
#aboutMe #anchor1 {
  scroll-margin-top: 150px;
}
#aboutMe .aboutMeSection {
  display: flex;
  justify-content: center;
}
#aboutMe .aboutMeSection .aboutMePicture {
  display: flex;
  justify-content: center;
  align-items: center;
}
#aboutMe .aboutMeSection .aboutMePicture img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 400px;
  border-radius: 30px;
}
#aboutMe .aboutMeSection .aboutMeInfo {
  display: flex;
  align-items: center;
  justify-content: center;
}
#aboutMe .aboutMeSection .aboutMeInfo .aboutMeInfoBckgr {
  background-color: rgba(245, 179, 135, 0.281);
  padding: 40px 20px;
  color: #1c141b;
  border-radius: 30px;
}
#aboutMe .aboutMeSection .aboutMeInfo h1 {
  font-family: myFontJreeng;
  font-size: 24px;
  margin: 0;
  padding-bottom: 10px;
}
#aboutMe .aboutMeSection .aboutMeInfo p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  text-align: justify;
  padding: 10px 0px;
  margin: 0;
}
#aboutMe .aboutMeSection .aboutMeInfo #button1 {
  margin-top: 10px;
}

#aboutMeDeviderBot {
  width: 100%;
}
#aboutMeDeviderBot svg {
  width: 100%;
  height: 100px;
  background-color: #1c141b;
}
#aboutMeDeviderBot .shape-fill {
  fill: rgb(206, 93, 30);
}

/* MY PORJECTS */
#myProjects {
  height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #1c141b;
}
#myProjects #anchor2 {
  scroll-margin-top: 150px;
}
#myProjects .myProjectsTitle {
  background-color: #1c141b;
  color: rgb(206, 93, 30);
  font-family: myFontJreeng;
  text-align: center;
  font-size: 34px;
}
#myProjects .smallNav {
  background-color: rgb(206, 93, 30);
}
#myProjects .card {
  background-color: rgb(206, 93, 30);
}
#myProjects .card .card-title {
  font-family: myFontJreeng;
  font-size: 24px;
  margin: 0;
  padding-bottom: 10px;
}
#myProjects .card .card-text {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
}
#myProjects .card a {
  text-decoration: none;
  color: #1c141b;
}
#myProjects input:focus {
  outline: none !important;
}
#myProjects .imageFirst {
  background-image: url(/images/random_password_generator.png);
  background-size: cover;
}
#myProjects .imageSecond {
  background-image: url(/images/wp_website.png);
  background-size: cover;
}
#myProjects .imageThird {
  background-image: url(/images/magic_8_ball.png);
  background-size: cover;
}
#myProjects .imageFourth {
  background-image: url(/images/coding.jpg);
  background-size: cover;
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

/* CONTACT FORM */
.contactFormDeviderTop {
  width: 100%;
}
.contactFormDeviderTop svg {
  width: 100%;
  height: 100px;
  background-color: rgb(206, 93, 30);
}
.contactFormDeviderTop .shape-fill {
  fill: #1c141b;
}

#anchor3 {
  scroll-margin-top: 150px;
}

.contactForm {
  height: 500px;
  background-color: rgb(206, 93, 30);
  display: flex;
  justify-content: center;
  align-items: center;
}
.contactForm .formLeftText {
  font-size: 34px;
  font-family: myFontJreeng;
  color: #1c141b;
  text-transform: uppercase;
  padding-bottom: 20px;
  letter-spacing: 10px;
  line-height: 125%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contactForm #contactFormBox {
  border-radius: 20px;
  background-color: rgba(245, 179, 135, 0.281);
  padding: 0px 40px;
}
.contactForm #contactFormBox input {
  width: 49%;
  margin: 30px 0px 0 0;
  border: none;
  border-bottom: 2px solid #1c141b;
  background-color: transparent;
  color: #1c141b;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
}
.contactForm #contactFormBox input::-moz-placeholder {
  color: #1c141b;
}
.contactForm #contactFormBox input::placeholder {
  color: #1c141b;
}
.contactForm #contactFormBox input:focus {
  outline: none;
}
.contactForm #contactFormBox #formMessageText {
  width: 99%;
  resize: none;
  border: none;
  border-bottom: 2px solid #1c141b;
  background-color: transparent;
  color: #1c141b;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  margin: 30px 20px 0 0;
}
.contactForm #contactFormBox #formMessageText::-moz-placeholder {
  color: #1c141b;
}
.contactForm #contactFormBox #formMessageText::placeholder {
  color: #1c141b;
}
.contactForm #contactFormBox #formMessageText:focus {
  outline: none;
}
.contactForm #contactFormBox #contactFormSubmit {
  margin-top: 30px;
}
.contactForm #contactFormBox #margin30 {
  height: 30px;
}

.contactFormDeviderBot {
  width: 100%;
}
.contactFormDeviderBot svg {
  width: 100%;
  height: 100px;
  background-color: #1c141b;
}
.contactFormDeviderBot .shape-fill {
  fill: rgb(206, 93, 30);
}

/* FOOTER */
footer {
  background-color: #1c141b;
  color: rgb(206, 93, 30);
}
footer #footerContact {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: -10px;
}
footer #footerDevider {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid;
}
footer #copyrightInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  margin-top: -10px;
}

/* IMPORTANT */
.superButtons {
  font-family: myFontYikes;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #fbeee0;
  border: 4px solid #422800;
  border-radius: 30px;
  box-shadow: #1c141b 4px 4px 0 0;
  color: #1c141b;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
  padding: 0 18px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  touch-action: manipulation;
}
.superButtons:hover {
  background-color: #1c141b;
  color: rgb(206, 93, 30);
}
.superButtons:active {
  box-shadow: #1c141b 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 1350px) {
  .navbar .nav-item {
    font-size: 25px;
  }
  .navbar img {
    height: 30px;
  }
  #aboutMe {
    height: 800px;
  }
  #aboutMe .aboutMeSection .aboutMePicture img {
    height: 500px;
  }
  #aboutMe .aboutMeInfo .aboutMeInfoBckgr {
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #aboutMe .aboutMeInfo .aboutMeInfoBckgr h1 {
    font-size: 30px;
  }
  #aboutMe .aboutMeInfo .aboutMeInfoBckgr p {
    font-size: 20px;
  }
  #myProjects .myProjectsTitle {
    font-size: 44px;
  }
  #myProjects .card .card-title {
    font-size: 30px;
  }
  #myProjects .card .card-text {
    font-size: 20px;
  }
  #myProjects .imageFirst {
    background-position: center;
    background-repeat: no-repeat;
  }
  #myProjects .imageThird {
    background-position: center;
    background-repeat: no-repeat;
  }
  #myProjects .imageFourth {
    background-size: cover;
  }
  .contactForm {
    height: 600px;
  }
  .contactForm .formLeftText {
    font-size: 44px;
    letter-spacing: 12px;
  }
  .contactForm #contactFormBox {
    display: flex;
    align-items: center;
    height: 450px;
  }
  .contactForm #contactFormBox input {
    font-size: 20px;
  }
  .contactForm #contactFormBox #formMessageText {
    font-size: 20px;
  }
  footer #footerContact {
    gap: 50px;
  }
  footer #footerDevider {
    width: 300px;
  }
  footer #copyrightInfo {
    font-size: 15px;
  }
  .superButtons {
    font-size: 20px;
  }
}
@media (max-width: 1199px) {
  .fullBckgr {
    background-size: 135%;
  }
  #aboutMe {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
  }
  #aboutMe img {
    margin-bottom: 30px;
    height: 500px !important;
  }
  .contactForm .formLeftText {
    font-size: 29px;
  }
  .contactForm #contactFormBox {
    padding: 0px 20px;
  }
}
@media (max-width: 998px) {
  .fullBckgr {
    background-size: 160%;
  }
  #myProjects .imgHero {
    height: 100%;
    justify-content: center;
  }
  #myProjects .card {
    width: 100% !important;
  }
  .contactForm .deleteBr {
    display: none;
  }
  .contactForm .formLeftText {
    font-size: 24px;
    padding: 0;
    line-height: 150%;
    letter-spacing: 5px;
    text-align: center;
  }
  .contactForm #contactFormBox {
    padding: 0px 10px;
  }
}
@media (max-width: 767.98px) {
  .fullBckgr {
    background-size: 180%;
  }
  #aboutMe {
    height: 800px;
  }
  #aboutMe img {
    height: 300px !important;
  }
  #myProjects .myProjectsTitle {
    font-size: 30px;
  }
  #myProjects .imgHero {
    transform: translateX(0%) !important;
    transform: translateY(-28%) !important;
    height: 35%;
  }
  .contactForm {
    height: 600px;
  }
}
@media (max-width: 657px) {
  #myProjects .card .imageFirst {
    background-size: cover;
    background-position: center;
  }
  #myProjects .card .imageSecond {
    background-size: cover;
    background-position: center;
  }
  #myProjects .card .imageThird {
    background-size: cover;
    background-position: center;
  }
  #myProjects .card .imageFourth {
    background-size: cover;
    background-position: center;
  }
}
@media (max-width: 575.98px) {
  .fullBckgr {
    background-size: 190%;
  }
  #aboutMe {
    height: 850px;
  }
  #aboutMe .aboutMeSection .aboutMePicture img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 300px;
  }
  #aboutMe .imgHero {
    transform: translateX(0%) !important;
    transform: translateY(-28%) !important;
    height: 100%;
  }
  #aboutMe .card {
    width: 100% !important;
    height: 60% !important;
  }
  #aboutMe .buttonCard {
    padding-left: 4%;
    padding-right: 4%;
  }
  #aboutMe .imageFirst {
    width: 100%;
  }
}/*# sourceMappingURL=mainStyles.css.map */